.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.container div {
    overflow: visible;
}

.container h1 {
    width: 100%;
    text-align: center;
    font-size: 14rem;
    text-shadow: 0px 0px 15px black;
    overflow: visible;
}

.container > div > div {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.container a {
    margin: 10px;
    text-shadow: 0px 0px 10px rgb(44, 0, 38);
    overflow: visible;
}

.container a:hover img{
    width: 55px;
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    transition-duration: 500ms;
}

@media screen and (max-width: 1000px) { 
    .container h1 {
        font-size: 5rem;
    }

    .container img { 
        width: 45px;
    }
    .container > div > div { 
        font-size: 1.5rem;
    }
}