.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container form {
    --edge-size: 25px;
    --edge-size2: calc(100% - var(--edge-size));

    width: 90%;
    max-width: 600px;
    height: fit-content;    
    padding: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));

    clip-path: 
        polygon(
            var(--edge-size) 0,
            100% 0,
            100% var(--edge-size2),
            var(--edge-size2) 100%,
            0 100%,
            0 var(--edge-size)
        );

    font-weight: bold;
    font-size: 1.2rem;
    
    overflow: visible;   
}

.container div {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.container form label {
    margin-top: 5px;
}

.container input {
    width: 100%;
    color: black;
    border: 1px solid white;
}

.container textarea {
    width: 100%;
    margin-top: 5px;

    color: black;
    border: 1px solid white;
}

.container button {
    --edge-size: 10px;
    --edge-size2: calc(100% - var(--edge-size));

    width: 200px;
    padding: 5px 20px;

    color: black;    
    background-color: white;

    clip-path:
        polygon(
            0 0,
            100% 0,
            100% var(--edge-size2),
            var(--edge-size2) 100%,
            0 100%,
            0 0
        );
}

.container div:last-child {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    grid-column: 2;
}

.container div:last-child {
    margin-top: 10px;
    text-align: right;
}

@media screen and (max-height: 500px) {
    .container form {
        position: relative;
        bottom: 35px;
    }
}