.container {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}

.container img {
    width: 20px;
    filter:invert();
}

.container button:nth-of-type(1) > img{
    transform: rotate(180deg);
}