.container {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: 75px 1fr;
    padding-left: 10px;
}

.container > div {
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    width: 100%;
    font-size: min(0.8rem, 3vw);
    z-index: 2000;
}

.container img {
    margin: auto;
    width: 100%;
    border: 2px solid white;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 100%;
    }
    
    .container img {
        display: none;
    }
}

@media (orientation: portrait) {
    .container {
        display: block;
        text-align: center;
        grid-column: 1 / span 3;
    }

    .container div > * {
        display: inline-block;
    }

    .contaiern > div > p {
        font-weight: bold;
        font-size: 2rem;
    }
    .container div > p::before {
        content: '-';
        margin-right: 5px;
    }

    .container > div > h3 {
        font-size: 0.8rem;
        margin-right: 8px;
    }

    .container img {
        display: none;
    }
}