.container {
    display: inline-flex;
    position: absolute;

    width: 100%;
    height: 50px;    

    background-image: linear-gradient(black, rgba(43, 43, 43, 0));

    z-index: 10;
}

.container h1 {
    width: 100%;

    font-size: 2.2rem;
    font-weight: 100;
    text-align: center;

    transition-duration: 500ms;
}

.container h1:hover {
    font-size: 2.4rem;
}

.link {
    width: 100%
}

.container button {
    width: 100%;
    height: 100%;

    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
    vertical-align:middle;

    transition-duration: 500ms;
}

.container button:hover {
    font-size: 1.7rem;
}

.gradientBorder {
    width: 5px;
    height: 100%;

    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

@media screen and (max-width: 650px){
    .container h1 {
        display: none;
    }

    .container .link:nth-child(2) > button {
        border-left: none;
    }
}