* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    color: white;
}

:root {
    --dark-purple: rgb(57, 29, 58);
}

body {
    background-image: linear-gradient(var(--dark-purple), black);
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-family: 'Major Mono Display', monospace;
}

button {
    all: unset;
    text-align: center;
    cursor: pointer;
    
}

a {
    all: unset;
    cursor: pointer;
}