.albumBackground {
    height: 100vh;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;

    filter: brightness(0.5) blur(8px);
}

.album {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: auto;
}

.album > div {
    height: 70%;

    overflow: visible;
}

.cover {
    display: inline-flex;

    height: 80%;
    
    overflow: visible;
}

.album h2 {
    margin-bottom: 15px;

    font-size: min(3rem, 5vh);
    font-weight: 100;    
    text-shadow: 0px 0px 15px black;    
    text-align: center;

    overflow: visible;
}

.album img {
    height:100%;
    max-height: 500px;

    box-shadow: 0px 0px 50px -10px rgb(247, 247, 247);
}

.songList {
    overflow: visible;
}

.songList button {
    font-family: 'Dosis', sans-serif;
    font-size: min(3rem, 5vh);
}

.playAlbum {
    position: relative;
}

.playAlbum > img:nth-last-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0;

    transition-duration: 1s;
}

.playAlbum:hover img:nth-last-child(1) {
    opacity: 0.9;
}

.playing {
    text-shadow: 0 0 5px white;
}

.song:hover {
    font-weight: bold;
}

@media (orientation: portrait) { 
    .cover {
        display: grid;
        grid-template-rows: 1fr 50%;

        width: 80%;
        height: auto;

        text-align: center;
    }

    .album img {
        aspect-ratio: 1;
        width: 100%;
        max-width: 500px;        
        height: auto;
        max-height: auto;
    }

    .cover > * {
        margin: 0;        
        padding-left: 0;
    }
    
    .album > div {
        height: 70%;        
        overflow: visible;
    }

    .songList button { 
        font-size: min(3rem, 5vw);
    }

    .album h2 {
        font-size: min(3rem, 5vw);
    }
}