.bar {
    display: block;
    width: 100%;


    -webkit-appearance: none;
    appearance: none;

    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    overflow: visible;
    cursor: pointer;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 10px;
    height: 15px;
    border-radius: 10px;

    background: white;
}

.bar::-moz-range-thumb {
    width: 25px;
    height: 15px;
    border-radius: 20px;

    background-color: white;
}