.container {
    padding-top: 100px;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 150px;
    
}

.container p {
    font-family: 'Major Mono Display', monospace;
    text-shadow: 0px 0px 15px black;
    font-size: 1.75rem;
    font-weight: bold;
    overflow: visible;
    
}

.cover img{
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 15px black;
}

.cover {
    text-align: center;
    margin: 10px;
}

@media screen and (max-height: 560px) {
    .cover img {
        max-width: 200px;
    }

    .container p {
        font-size: 1rem;
        height: 40px;
    }

    .cover {
        width: 200px;
    }
}